@import url("./base/nule.scss");

html {
	background: linear-gradient(0deg, #28263c, #28263c), #272637;
	font-size: 14px;
	color: #fff;
	font-family: "Gilroy Regular", sans-serif;
}

main {
	margin: 100px 20px 50px;
}
