.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #232235;
	color: #636278;
	height: auto;
	padding: 20px;
	gap: 1.5rem;

	&__image {
		width: 200px;
	}

	&__terms {
		text-align: center;
		font-size: 16px;
		font-weight: 600;
	}

	&__text {
		text-align: center;
		font-size: 14px;
		font-weight: 200;
	}
}
