.title {
	position: relative;
	font-size: 20px;
	font-weight: 700;
	color: #004;
	padding-left: 44px;
	padding-top: 14px;
	margin: 13px 0;

	&::after {
		content: "";
		position: absolute;
		left: 0;
		top: 14px;
		bottom: 0;
		width: 10px;
		background-color: #ffd626;
	}
}
