.case {
	width: calc(100% / 2);
	height: auto;
	display: flex;
	padding: 0.5px;
	box-sizing: border-box;
	border-bottom: solid 2px rgb(255 255 255 / 0%);
	transition: border-bottom 0.2s;
	z-index: 100;

	&:hover {
		border-bottom: solid 2px #0090ff;

		.case-in {
			&::before {
				opacity: 1;
				filter: blur(0);
				inset: 0;
			}

			&::after {
				opacity: 1;
				filter: blur(0);
			}
		}

		.case-images {
			img {
				transform: translateY(10px);
				transition: transform 0.5s;
			}
		}
	}

	&-in {
		background: #1d1b2e url("/images/pt.png") no-repeat center center;
		background-size: calc(100% - 40px) calc(100% - 40px);
		width: 100%;
		position: relative;
		overflow: hidden;
		z-index: 1;
		padding-top: 25px;
		padding-bottom: 50px;
		height: auto;

		&::before {
			position: absolute;
			inset: 100% 0 0;
			content: "";
			transition: 0.5s;
			background: linear-gradient(
				180deg,
				rgb(32 28 41 / 0%) 41.24%,
				rgb(52 133 254 / 10%) 100%
			);
			z-index: -1;
			opacity: 0;
			filter: blur(10px);
		}

		&::after {
			z-index: -2;
			position: absolute;
			inset: 0;
			content: "";
			background: linear-gradient(
				180deg,
				rgb(32 28 41 / 0%) 41.24%,
				rgb(45 43 65 / 45%) 100%
			);
			transition: 0.5s;
		}
	}

	&-hover {
		position: absolute;
		inset: 0;
		z-index: 2;
	}

	&-price {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 40px;
		color: #ffb545;
		text-shadow: 0 0 1px #ffb545;
		top: 8px;
		left: 10px;
		font-size: 16px;
		font-weight: bold;
		background: linear-gradient(
			90deg,
			rgb(66 89 149 / 50%) 0%,
			rgb(32 31 52 / 100%) 50%,
			rgb(66 89 149 / 50%) 100%
		);
		border: 1px solid #425995;
		border-radius: 100px;
		padding: 7px 15px;
	}

	&-images {
		display: flex;
		-webkit-box-align: end;
		-ms-flex-align: end;
		align-items: flex-end;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		height: min-content;

		img {
			display: flex;
			justify-content: center;
			align-items: center;
			max-height: 100%;
			width: 100%;
			object-fit: cover;
			transition: 0.5s;
		}
	}

	&-name {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		bottom: 15px;
		font-size: 14px;
		font-weight: 600;
		color: #fff;
	}
}
