.burger {
  position: relative;
  height: 24px;
  width: 22px;
  min-width: 30px;

	&__container {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #686dfe;
		border-radius: 3px;
		padding: 8px;
		height: 42px;
		width: 45px;
		transition: all 0.1s ease 0s;
		z-index: 20;

		&.active {
			background-color: #0a1016;
		}
	}

  span {
    position: absolute;
    background-color: white;
    left: 0;
    width: 100%;
    height: 4px;
    top: 10px;
    border-radius: 3px;
    transition: all 0.1s ease 0s;
  }

  &::before,
  &::after {
    content: "";
    background-color: white;
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    border-radius: 3px;
    transition: all 0.2s ease 0s;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  &.active {
    &::before {
      transform: rotate(45deg);
      top: 10px;
    }

    &::after {
      transform: rotate(-45deg);
      bottom: 10px;
    }

    span {
      transform: scale(0);
    }
  }
}

.nav {
	display: none;
	position: absolute;
	width: 100%;
	height: 100vh;
	background-color: rgb(14 17 19 / 65%);
	top: 0;
	right: 0;
	z-index: 10;

	&.active {
		display: block;
	}

	&__menu {
		width: 100%;
		max-width: 320px;
		background-color: #0a1016;
		box-shadow: 0 0 20px 0 rgb(0 0 0 / 60%);
		border: 1px solid #25303a;
		border-radius: 4px;
		transition: transform 0.05s ease;
		margin: 70px auto 0;
		padding: 40px 20px 20px;
	}

	&.active &__button {
		right: 0;
		opacity: 1;
	}

	&__button {
		color: white;

		&::before {
			filter: drop-shadow(0 0 15px #66bcff);
			position: absolute;
			bottom: 0;
			transition: 0.5s;
			left: 0;
			height: 2px;
			background: linear-gradient(90deg, #66bcff 7.65%, #66f 100%);
			content: "";
		}

		&::after {

		}
	}
}
