.burger {
	position: relative;
	height: 24px;
	width: 22px;
	min-width: 30px;

	&__container {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #686dfe;
		border-radius: 3px;
		padding: 8px;
		height: 42px;
		width: 45px;
		transition: all 0.1s ease 0s;
		z-index: 20;

		&.active {
			background-color: #0a1016;
		}
	}

	span {
		position: absolute;
		background-color: white;
		left: 0;
		width: 100%;
		height: 4px;
		top: 10px;
		border-radius: 3px;
		transition: all 0.1s ease 0s;
	}

	&::before,
	&::after {
		content: "";
		background-color: white;
		position: absolute;
		width: 100%;
		height: 4px;
		left: 0;
		border-radius: 3px;
		transition: all 0.2s ease 0s;
	}

	&::before {
		top: 0;
	}

	&::after {
		bottom: 0;
	}

	&.active {
		&::before {
			transform: rotate(45deg);
			top: 10px;
		}

		&::after {
			transform: rotate(-45deg);
			bottom: 10px;
		}

		span {
			transform: scale(0);
		}
	}
}

.nav {
	display: none;
	position: absolute;
	width: 100%;
	height: 100vh;
	background-color: rgb(14 17 19 / 65%);
	top: 0;
	right: 0;
	z-index: 10;

	&.active {
		display: block;
	}

	&__menu {
		position: absolute;
		display: flex;
		flex-direction: column;
		width: 100%;
		max-width: 320px;
		background-color: #0a1016;
		box-shadow: 0 0 20px 0 rgb(0 0 0 / 60%);
		border: 1px solid #25303a;
		border-radius: 4px;
		transition: transform 0.05s ease;
		padding: 40px 20px 20px;
		right: 0;
		margin: 70px 60px 0 auto;
		gap: 10px;
	}

	&.active &__button {
		right: 0;
		opacity: 1;
	}

	&__button {
		&_link {
			align-items: flex-start;
			justify-content: flex-start;
			width: max-content;
			margin-left: 0;
			margin-right: auto;
			font-size: 15px;
			font-weight: 700;
			position: relative;
			z-index: 1;
			color: #46445b;
			letter-spacing: 0.05em;
			text-transform: uppercase;
			display: -webkit-box;
			display: flex;
			-webkit-box-align: center;
			height: 32px;
			transition: all 0.2s linear;

			svg {
				position: relative;
				width: 32px;
				margin-right: 10px;

				& stop {
					stop-color: #46445b;
					transition: 0.5s;
				}
			}

			&::before {
				filter: drop-shadow(0 0 15px #66bcff);
				position: absolute;
				bottom: 6px;
				opacity: 0;
				transition: 0.5s;
				left: 0;
				right: 100%;
				height: 2px;
				background: linear-gradient(90deg, #66bcff 7.65%, #66f 100%);
				content: "";
			}

			&::after {
				width: 32px;
				height: 32px;
				position: absolute;
				top: 0;
				left: 0;
				content: "";
				background: url("/images/ico-2.png") no-repeat;
				z-index: -1;
				transition: 0.5s;
				opacity: 0;
			}

			&.active,
			&:hover {
				color: white;

				svg {
					& stop {
						&:first-child {
							stop-color: #66c8ff;
						}

						&:last-child {
							stop-color: #66f;
						}
					}
				}

				&::before {
					opacity: 1;
					right: 0;
				}

				&::after {
					opacity: 1;
				}
			}
		}
	}
}
