.refill {
	&__main {
		display: flex;
		flex-direction: column;
		align-items: start;
		gap: 1rem;
	}

	&__title {
		width: max-content;
		background-color: #141d25;
		pointer-events: none;
		display: flex;
		align-items: center;
		margin: 5px 10px 5px 0;
		padding: 10px;
		border: 2px solid #579bda;
		border-radius: 4px;
		font-size: 13px;
		line-height: 14px;
		font-weight: 500;
		color: #b1bbca;
		transition: 0.12s ease;
		cursor: pointer;
	}

	&__desc {
		margin-bottom: 10px;
		padding: 12px 20px;
		color: #d2958a;
		font-size: 13px;
		background-color: #403242;
		border-radius: 6px;
	}

	&__button {
		display: inline-block;
		font-size: 16px;
		font-weight: 600;
		line-height: 16px;
		position: relative;
		color: #fff;
		width: 100%;
		white-space: nowrap;
		text-align: center;
		background-color: #5daef1;
		border: 0;
		padding: 14px 15px;
		border-radius: 5px;
		cursor: pointer;
		outline: 0 none;
		transition: all 0.25s ease-in-out;
		vertical-align: top;
		margin-top: 20px;

		&:hover {
			background-color: #357bb5;
		}
	}

	&__text {
		margin-top: 10px;
		font-size: 12px;
		line-height: 16px;
		font-weight: 400;
		color: #b1bbca;
	}

	&__holder {
		display: flex;
		justify-content: start;
		align-items: center;
	}

	&__select {
		background-color: #141d25;
		display: flex;
		width: max-content;
		align-items: center;
		margin: 5px 10px 5px 0;
		padding: 10px;
		border: 2px solid transparent;
		border-radius: 4px;
		font-size: 13px;
		line-height: 14px;
		font-weight: 500;
		color: #b1bbca;
		transition: 0.12s ease;
		cursor: pointer;

		&:hover {
			background-color: #171f26;
		}

		&.active {
			pointer-events: none;
			border: 2px solid #579bda;
		}
	}
}

.input {
	position: relative;
	border: 1px solid #59576c;
	border-radius: 5px;
	width: 100%;
	margin-top: 25px;

	&__title {
		position: absolute;
		top: -8px;
		left: 10px;
		padding: 0 10px;
		font-weight: 500;
		color: #6f6d84;
		font-size: 12px;
		text-transform: uppercase;
		background-color: #28263b;

		span {
			color: rgb(255 255 255);
		}
	}

	&__holder {
		display: flex;
		align-items: center;
		padding: 10px 20px;
	}

	&__cost {
		padding: 7px 0;
		color: #ffbf35;
		font-size: 22px;
		flex-shrink: 0;
	}

	&__text {
		background-color: transparent;
		flex-grow: 1;
		min-width: 0;
		padding: 7px 0;
		color: #ffbf35;
		font-size: 22px;
	}
}

.crypto {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	gap: 16px;

	&__holder {
		display: flex;
		align-items: center;
		justify-content: start;
		flex-direction: column;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
		background-color: #1d1c2e;
		width: 100%;

		&_title {
			display: flex;
			justify-content: start;
			align-items: start;
			width: 100%;
			font-size: 14px;
			font-weight: 500;
			background-color: #242136;
			padding: 20px 24px;
		}

		&_info {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			width: 100%;
			height: 100%;
			min-height: 400px;
			max-width: 350px;
			padding: 20px 24px;
			gap: 14px;
		}

		&_button {
		  display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 200px;
			font-size: 128px;
			color: #9f9fdc;
			background-color: rgba(42, 47, 79, 0.22);
		}

		&_data {
			width: 100%;
			position: relative;

			button {
				position: absolute;
				background-color: rgba(255, 0, 0, 0.75);
				border-radius: 18px;
				color: #fff;
				font-size: 16px;
				font-weight: 600;
				right: 6px;
				bottom: 10px;
				padding: 8px 12px;
				z-index: 5;

				&:hover {
					background-color: rgba(255, 77, 77, 0.75);
				}
			}
		}
	}

	&__info {
		display: flex;
		align-items: center;
		justify-content: start;
		flex-direction: column;
		width: 100%;
		max-width: 375px;
		padding: 24px 24px;
		gap: 14px;

		&_data {
			display: flex;
			justify-content: start;
			align-items: start;
			flex-direction: column;
			font-size: 14px;
			font-weight: 500;
			color: #52505d;
			gap: 8px;
		}

		&_cost {
			display: flex;
      justify-content: start;
      align-items: center;
      flex-direction: column;
      font-size: 18px;
			font-weight: 500;
      color: #fff;
      gap: 2px;
		}

		&_text {
			display: flex;
      justify-content: center;
      align-items: start;
      font-size: 14px;
      font-weight: 400;
      color: #52505d;
      gap: 8px;

			span {
				color: #ffbf35;
			}
		}

		&_button {
			border-radius: 24px;
			color: #fff;
			font-weight: bold;
			background: linear-gradient(to right, #6B4EF3FF, #64B6FBFF);
			padding: 12px 20px;
		}

		&_modal {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			background-color: #161525;
			box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
			color: #fff;
			border-radius: 2px;
			position: relative;
			padding: 12px 20px;

			span {
				rotate: 270deg;

				&.active {
					rotate: 90deg;
				}
			}
		}
	}
}

.modal {
	position: absolute;
	width: 100%;
	background-color: #161525;
	top: 40px;
	left: 0;

	button {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #161525;
		width: 100%;
		color: #fff;
		padding: 10px 16px;
		transition: all 200ms, solid;

		&:hover {
      background-color: #0f0f1a;
    }
	}
}

.select {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: rgba(22, 21, 37, 0.5);
	cursor: default;
	left: 0;
	top: 0;
	z-index: 10;

	&__holder {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		background-color: rgb(22, 21, 37);
		height: 80vh;
		gap: 8px;
		padding: 24px;
		margin: 75px 10vw 0 10vw;
		overflow-y: scroll;
		z-index: 15;

		button {
			width: 100%;
			color: #fff;
		}
	}
}
