.refill {
	&__main {
		display: flex;
		flex-direction: column;
		align-items: start;
		gap: 1rem;
	}

	&__title {
		width: max-content;
		background-color: #141d25;
		pointer-events: none;
		display: flex;
		align-items: center;
		margin: 5px 10px 5px 0;
		padding: 10px;
		border: 2px solid #579bda;
		border-radius: 4px;
		font-size: 13px;
		line-height: 14px;
		font-weight: 500;
		color: #b1bbca;
		transition: 0.12s ease;
		cursor: pointer;
	}

	&__desc {
		margin-bottom: 10px;
		padding: 12px 20px;
		color: #d2958a;
		font-size: 13px;
		background-color: #403242;
		border-radius: 6px;
	}

	&__button {
		display: inline-block;
		font-size: 16px;
		font-weight: 600;
		line-height: 16px;
		position: relative;
		color: #fff;
		width: 100%;
		white-space: nowrap;
		text-align: center;
		background-color: #5daef1;
		border: 0;
		padding: 14px 15px;
		border-radius: 5px;
		cursor: pointer;
		outline: 0 none;
		transition: all 0.25s ease-in-out;
		vertical-align: top;
		margin-top: 20px;

		&:hover {
			background-color: #357bb5;
		}
	}

	&__text {
		margin-top: 10px;
		font-size: 12px;
		line-height: 16px;
		font-weight: 400;
		color: #b1bbca;
	}

	&__holder {
		display: flex;
		justify-content: start;
		align-items: center;
	}

	&__select {
		background-color: #141d25;
		display: flex;
		width: max-content;
		align-items: center;
		margin: 5px 10px 5px 0;
		padding: 10px;
		border: 2px solid transparent;
		border-radius: 4px;
		font-size: 13px;
		line-height: 14px;
		font-weight: 500;
		color: #b1bbca;
		transition: 0.12s ease;
		cursor: pointer;

		&:hover {
			background-color: #171f26;
		}

		&.active {
			pointer-events: none;
			border: 2px solid #579bda;
		}
	}
}

.input {
	position: relative;
	border: 1px solid #59576c;
	border-radius: 5px;
	width: 100%;
	margin-top: 25px;

	&__title {
		position: absolute;
		top: -8px;
		left: 10px;
		padding: 0 10px;
		font-weight: 500;
		color: #6f6d84;
		font-size: 12px;
		text-transform: uppercase;
		background-color: #28263b;

		span {
			color: rgb(255 255 255);
		}
	}

	&__holder {
		display: flex;
		align-items: center;
		padding: 10px 20px;
	}

	&__cost {
		padding: 7px 0;
		color: #ffbf35;
		font-size: 22px;
		flex-shrink: 0;
	}

	&__text {
		background-color: transparent;
		flex-grow: 1;
		min-width: 0;
		padding: 7px 0;
		color: #ffbf35;
		font-size: 22px;
	}
}
